#deprecated_browser{
	height:43px;
	padding-top:7px;
	display:block;
	}
	#deprecated_browser #deprecated_owner{
		margin:0 auto;
		position:relative;
		width:778px;
		}		
		#deprecated_browser #deprecated_owner #right_deprecated{
			position:absolute;
			right:15px;
			width:220px;
			}
		#deprecated_browser #deprecated_owner #right_deprecated a{
			padding-right:10px;
			}	
		#deprecated_browser #deprecated_owner #right_deprecated #close_deprecated{
			padding:0;
			position:absolute;
			right:0;
			top:12px;
			}
		#deprecated_browser #deprecated_owner #left_deprecated{
			float:left;
			width:425px;
			}	
			#deprecated_browser #deprecated_owner #left_deprecated p#info_deprecated{
				font:bold 14px "Tahoma", verdana, arial;
				margin-bottom:3px;
				}
			#deprecated_browser #deprecated_owner #left_deprecated p#info_moore_deprecated{
				font:normal 11px "Tahoma", verdana, arial
				}
#about_deprecated_browser{
	width:467px;
	overflow:hidden;
	border:solid 1px gray;
	left:50%;
	top:50%;
	margin-left:-234px;
	margin-top:-188px;
	position:absolute;
	z-index:9999;		
	}
	#about_deprecated_browser #content_deprecated_browser{
		position:relative;
		padding-top:35px;
		padding-bottom:15px;
		overflow:hidden;
		}
		#about_deprecated_browser #content_deprecated_browser #close_about_deprecated_browser{
			position:absolute;
			top:8px;
			right:8px;
			}
		#about_deprecated_browser #content_deprecated_browser .tit_deprecated_browser{
			font:bold 14px "Tahoma", verdana, arial;
			margin-bottom:14px;
			width:395px;
			margin:0 auto;
			}
		#about_deprecated_browser #content_deprecated_browser p#description_deprecated_browser{
			margin:20px auto;
			width:395px;
			font:normal 12px "Tahoma", verdana, arial;
			}
		#about_deprecated_browser #content_deprecated_browser p#description_deprecated_browser strong{
			font-weight:bold;
			}	
		#about_deprecated_browser #content_deprecated_browser ul{
			margin:20px auto;
			overflow:hidden;
			text-align:center;
			width:405px;
			}	
			#about_deprecated_browser #content_deprecated_browser ul li{
				float:left;
				width:100px;
				}